<div class="body" *ngIf="!showData">
  <div class="bg"> </div>
  <div class="container">
    <div *ngFor="let category of Categories" class="card mat-elevation-z8" (click)="chooseCategory(category)">
      <div  class="card-content">
        <h4>{{category.name}}</h4>
      </div>
    </div>
  </div>
</div>

<mat-card class="example-card" *ngIf="showData">
  <mat-card-header>
    <div mat-card-avatar class="example-header-image"></div>
    <mat-card-title>{{selectedCategory.name}}</mat-card-title>
    <button mat-flat-button color="primary" style="position:absolute;right:5%" (click)="showData = false">Back</button>
  </mat-card-header>
  <mat-card-content>
    <table id="customers">
      <tr>
        <th>Product</th>
        <th>Price</th>
        <th>Category</th>
        <th>Action</th>
      </tr>
      <tr *ngFor="let item of itemList">
        <td>{{item.name}}</td>
        <td>Rs.{{item.price}}</td>
        <td>{{item.category}}</td>
        <td (click)="addToCart(item)" class="addItem">Add to cart <i class="fa fa-cart-plus" style="color:#4CAF50;font-size: 25px" aria-hidden="true"></i></td>
      </tr>
    </table>
    <table id="customers" style="margin-top:5%">
      <tr>
        <th>Items in your Cart</th>
        <th>Total</th>
      </tr>
      <tr>
        <td>{{totalItems}}</td>
        <td>Rs.{{totalPrice}}</td>
      </tr>
    </table>
  </mat-card-content>
</mat-card>
